<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Multivista.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFE451161BFE7E4E00390640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFE4512F1BFE7E4F00390640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFE4513A1BFE7E4F00390640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
