<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BotonSonido.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF4F101E1BE04B1400950C14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF4F10371BE04B1400950C14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF4F10421BE04B1400950C14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
