<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EsconderObjetos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF6E7AF01C0132DC008A0944</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF6E7B091C0132DC008A0944</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF6E7B141C0132DC008A0944</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
